#toolbox-wrapper {
  display: flex;
  flex: 1;
  margin: 1em 2em;

  &> div {
    width: 50%;
  }
  #search-block {
    display: flex;

    #input {
      flex: 5;
    }
    #button {
      flex: 1;
      display: flex;
    }
  }

  #add-course-button {
    display: flex;
    flex-direction: row-reverse;
  }
}
