section {
  display: flex;
  font-size: 2em;
  border: 1px solid black;
  margin: 1em 0;
  padding: 1em;


  #course-info {
    display: flex;
    flex-direction: column;
    flex: 20;

    #course-header {
      display: flex;
      justify-content: space-between;
    }
  }

  #buttons-block {
    flex: 1;
    display: flex;
    flex-direction: column;

  }
}
