section {
  display: flex;
  font-size: 2em;
  border: 1px solid black;
  margin: 1em 0;
  padding: 1em;
  height: 100px;

  #course-info {
    margin-right: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 20;

    #course-header {
      display: flex;
      justify-content: space-between;
    }

    #course-description {
      max-height: 50px;
      text-align: justify;
      overflow: hidden;
    }
  }

  #buttons-block {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 55px;
  }
}
