<section [appBorderStyling]="color" [ngClass]="isCourseHighlighted()">
  <div id="course-info">
    <div id="course-header">
      <div>
        <span id="name">{{title | uppercase}}</span>
        <fa-icon *ngIf="isCourseTopRated()" [icon]="topRatedIcon"></fa-icon>
      </div>
      <div>
        <span id="duration">{{duration | duration}} </span>
        <span id="date">{{creationDate | date:'dd.MM.yyyy'}}</span>
      </div>
    </div>
    <div id="course-description">{{description | sliceToLength}}</div>
  </div>
  <div id="buttons-block">
    <app-button text={{buttonNames[0]}} [icon]="editIcon" (onClickHandler)="onEditHandler($event)"></app-button>
    <app-button text={{buttonNames[1]}} [icon]="deleteIcon" (onClickHandler)="onDeleteHandler($event)"></app-button>
  </div>
</section>
