<section [appBorderStyling]="color">
  <div id="course-info">
    <div id="course-header">
      <div>
        <span id="name">{{title}}</span>
      </div>
      <div>
        <span id="duration">{{duration}} </span>
        <span id="date">{{creationDate | dateFormatter}}</span>
      </div>
    </div>
    <div id="course-description">{{description | sliceToLength}}</div>
  </div>
  <div id="buttons-block">
    <app-button text={{buttonNames[0]}} [icon]="editIcon" (onClickHandler)="onClick($event)"></app-button>
    <app-button text={{buttonNames[1]}} [icon]="deleteIcon" (onClickHandler)="onClick($event)"></app-button>
  </div>
</section>
