$img-size: 5em;

header {
  padding: 1em 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  #logotype a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;

    span {
      font-size: 3em;
      font-style: italic;
    }

    img {
      height: $img-size;
      width: $img-size;
      margin-right: 1em;
    }
  }

  #authorization {
    display: flex;
    align-items: center;
    font-size: 2em;

    span {
      margin-right: 1em;
    }
  }
}
